.slide-button {
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;
  border: 3px solid;
  position: relative;
  transition: all 1s ease;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 1s ease;
  }
  
  &:hover::before {
    transform: translateX(0);
  }
  
  &:hover .slide-button__text {
    color: white;
  }
  
  &--disabled {
    opacity: 0.6;
    cursor: not-allowed;
    
    &:hover::before {
      transform: translateX(-100%);
    }
    
    &:hover .slide-button__text {
      color: inherit;
    }
  }
  
  // Size variations
  &--small {
    font-size: 16px;
    padding: 12px 24px;
  }
  
  &--medium {
    font-size: 24px;
    padding: 20px 40px;
  }
  
  &--large {
    font-size: 32px;
    padding: 32px 64px;
  }
  
  // Color variations
  &--primary {
    color: #351435;
    border-color: #351435;
    
    &::before {
      background-color: #351435;
    }
  }
  
  &--secondary {
    color: #06b6d4;
    border-color: #06b6d4;
    
    &::before {
      background-color: #06b6d4;
    }
  }
}

.slide-button__text {
  position: relative;
  z-index: 1;
  transition: color 1s ease;
}