<div class="flex justify-center">
    <button mat-button [matMenuTriggerFor]="menu">
        <p class="text-6xl text-center pt-6 text-sky-50 hover:underline">L<span class="text-transparent">oo</span><span id="infinity"></span>pTimer</p>
    </button>
</div>

<mat-menu #menu="matMenu">

    <ul class="flex flex-col">
        <li class="p-4 hover:text-violet-800 rounded-xl">
            <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li class="p-4 hover:text-violet-800 rounded-xl">
            <a routerLink="/setup" routerLinkActive="active" ariaCurrentWhenActive="page">Create</a>
        </li>
        <li class="p-4 hover:text-violet-800 rounded-xl">
            <a routerLink="/library" routerLinkActive="active" ariaCurrentWhenActive="page">Library</a>
        </li>
    </ul>
</mat-menu>

<div class="flex justify-center">
    <nav class="p-4 text-sky-50 text-2xl text-center">
    </nav>
</div>