<div class="p-4">
    <p class="text-2xl">Timers Library</p>
    <ul class="">
        @for (timer of timers; track timer.id) {
            <li class="p-4 shadow-lg m-4 w-64">
                <p>Id: {{timer.id}}</p>
                <p>Timer Title: {{timer.title}}
                    <p>Timer length: {{timer.timerMinutes}}:{{timer.timerSeconds}}</p>
                    <p>Rest: {{timer.restMinutes}}:{{timer.restSeconds}}</p>
                    <p>Repeats: {{timer.repeats}}</p>
                    <button mat-raised-button class="!bg-red-500 !text-white" (click)="deleteTimer(timer.id)">Delete</button>
                </li>
            }
        </ul>
</div>