<div class="flex justify-center">
    <div class="shadow-lg rounded-xl m-4 p-4 w-auto">
        <mat-form-field>
            <mat-label>Timer Title</mat-label>
            <input matInput>
        </mat-form-field>
        <p class="p-4 text-center">Timer</p>
        <mat-form-field>
            <mat-label>Minutes</mat-label>
            <input matInput type="number">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Seconds</mat-label>
            <input matInput type="number">
        </mat-form-field>
        <p class="p-4 text-center">Rest</p>
        <mat-form-field>
            <mat-label>Minutes</mat-label>
            <input matInput type="number">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Seconds</mat-label>
            <input matInput type="number">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Repeats</mat-label>
            <input matInput type="number">
        </mat-form-field>
        <div class="flex justify-center m-4">
            <button mat-raised-button (click)="addTimer()">Add Timer</button>
        </div>
    </div>

    
    <div class="shadow-lg rounded-xl m-4 p-4 w-auto">
        <mat-form-field>
            <mat-label>Timer Title</mat-label>
            <input matInput>
        </mat-form-field>
        <span class="p-4">Timer Title</span><input [(ngModel)]="newTimerTitle" placeholder="Timer Name">
        <p class="p-4 text-center">Timer</p>
        <span class="p-4">Minutes</span><input [(ngModel)]="newTimerMinutes" placeholder="Timer Minutes">
        <span class="p-4">Seconds</span><input [(ngModel)]="newTimerSeconds" placeholder="Timer Seconds">
        <p class="p-4 text-center">Rest</p>
        <span class="p-4">Minutes</span><input [(ngModel)]="newRestMinutes" placeholder="Rest Minutes">
        <span class="p-4">Seconds</span><input [(ngModel)]="newRestSeconds" placeholder="Rest Seconds"><br>
        <span class="p-4">Repeats:</span>
        <input class="p-4" [(ngModel)]="newRepeats" placeholder="Repeats"><br>
        <div class="flex justify-center m-4">
            <button mat-raised-button (click)="addTimer()">Add Timer</button>
        </div>
    </div>
</div>

<app-timer-library [timers]="timers" (timerDeleted)="deleteTimer($event)"></app-timer-library>
