<p class="text-7xl text-center pt-6 text-sky-50">Loo<span id="infinity"></span>pTimer</p>
<div class="flex justify-center">
    <div class="shadow-lg rounded-xl m-4 p-6 w-auto bg-indigo-900/25">
        <form (ngSubmit)="addTimer()">

            <mat-form-field class="w-full">
                <mat-label>Timer Title</mat-label>
                <input matInput [(ngModel)]="newTimerTitle" name="newTimerTitle" required>
            </mat-form-field>

            <p class="p-4 text-center font-bold">Timer</p>

            <mat-form-field>
                <mat-label>Minutes</mat-label>
                <input matInput type="number" [(ngModel)]="newTimerMinutes" name="newTimerMinutes">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Seconds</mat-label>
                <input matInput type="number" [(ngModel)]="newTimerSeconds" name="newTimerSeconds">
            </mat-form-field>

            <p class="p-4 text-center font-bold">Rest</p>

            <mat-form-field>
                <mat-label>Minutes</mat-label>
                <input matInput type="number" [(ngModel)]="newRestMinutes" name="newRestMinutes">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Seconds</mat-label>
                <input matInput type="number" [(ngModel)]="newRestSeconds" name="newRestSeconds">
            </mat-form-field>

            <br>
            <div class="flex justify-center m-4">
                <mat-form-field>
                    <mat-label>Repeats</mat-label>
                    <input matInput type="number" [(ngModel)]="newRepeats" name="newRepeats">
                </mat-form-field>
            </div>
            
            <div class="flex justify-center m-4">
                <button mat-raised-button color="primary" type="submit">Add Timer</button>
            </div>
        </form>
    </div>
</div>

<app-timer-library [timers]="timers" (timerDeleted)="deleteTimer($event)"></app-timer-library>
