<div class="flex justify-center items-center flex-col">

    <p class="text-4xl text-sky-50">{{timerStore.activeTimer()?.title}}</p>
    @if (repeatArray.length > 0) {
        <div class="text-2xl text-sky-50">
            <span>remaining repeats: </span>
            @for (i of repeatArray; track i) {
                <span>| </span>
            }
        </div>
    }
    @if (repeatArray.length === 0 && isTimerActive) {
        <p class="text-3xl text-sky-50">Last one!</p>
    }
    
    <div class="text-4xl text-black text-center w-[350px] h-[350px] rounded-full flex justify-center items-center"
        [class]="{
        'flash-fade': isTimerActive, 
        'flash-fade-blue': isRestActive,
        'bg-sky-50/50': isComplete,
        }"
        >

        @if (!isComplete) {

            <div>
                
                @if (isTimerActive) {
                    <p class="text-transparent">Timer</p>
                    <p>{{minutes}}:{{seconds}}</p>
                }
                
                @if (isRestActive) {
                    <p>Rest</p>
                    <p>{{restMinutes}}:{{restSeconds}}</p>
                }
            </div>
        }
        
        @if(isComplete) {
            <div>
                <p>You're finished!</p>
                <p>👍</p>
            </div>
        }
    </div>
    
</div>