/* Put this in your component SCSS (top of file) */
@property --progress-deg {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes flashFade {
    0% {
      background-color: oklch(97.7% 0.013 236.62);
    }
    100% {
      background-color: oklch(81% 0.117 11.638);
    }
}
  
.flash-fade {
    animation: flashFade 1s ease-in-out infinite;
}

@keyframes flashFadeBlue {
    0% {
      background-color: oklch(97.7% 0.013 236.62);
    }
    100% {
      background-color: oklch(90.1% 0.058 230.902);
    }
}
  
.flash-fade-blue {
    animation: flashFadeBlue 1s ease-in-out infinite;
}

.timer-ring {
  position: absolute;
  top: 20vh;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(
    var(--progress-color, #00bcd4) var(--progress-deg, 0deg),
    #e5e7eb 0deg
  );

  transition: --progress-deg 950ms linear;
}

.timer-inner {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}