<div class="flex justify-center items-center flex-col">

    <p class="text-4xl text-sky-50">{{timerStore.activeTimer()?.title}}</p>
        <div class="text-4xl text-black text-center w-[400px] h-[400px] rounded-full flex justify-center items-center"
        [class]="{
        'flash-fade': isTimerActive, 
        'flash-fade-blue': isRestActive,
        'bg-sky-50/50': isComplete,
        }"
        >

        @if (!isComplete) {
            <div>
                
                @if (isTimerActive) {
                    <p class="text-transparent">Timer</p>
                    <p>{{minutes}}:{{seconds}}</p>
                }
                
                @if (isRestActive) {
                    <p>Rest</p>
                    <p>{{restMinutes}}:{{restSeconds}}</p>
                }
                
                <p 
                    class="pt-3 relative right-2"><span class="text-2xl relative bottom-5 left-7"
                >{{repeats}}</span> 🔁</p>
            </div>
        }
        
        @if(isComplete) {
            <div>
                <p>You're finished!</p>
                <p>👍</p>
            </div>
        }
    </div>
    
</div>