@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

html, body { height: 100%; }
body { 
    margin: 0; 
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(85,10,97,1) 53%, rgba(13,20,124,1) 100%);
}

* {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
  }