<div class="infinity-container flex flex-col items-center justify-between p-8 gap-8">
    <div class="infinity-logo">
        <svg viewBox="0 0 200 100" class="infinity-svg">
            <!-- Infinity symbol path -->
            <path 
                d="M 50 50 C 50 25, 75 25, 100 50 C 125 75, 150 75, 150 50 C 150 25, 125 25, 100 50 C 75 75, 50 75, 50 50 Z"
                class="infinity-path"
                fill="none"
                stroke="rgba(240, 249, 255, 0.3)"
                stroke-width="4"
            />
            <!-- Animated light dot -->
            <circle r="4" class="light-dot">
                <animateMotion 
                    dur="1.5s" 
                    repeatCount="indefinite"
                    path="M 50 50 C 50 25, 75 25, 100 50 C 125 75, 150 75, 150 50 C 150 25, 125 25, 100 50 C 75 75, 50 75, 50 50 Z"
                />
            </circle>
        </svg>
        
        <!-- Interactive zones -->
        <div class="interaction-zone left-zone" (click)="navigateToCreate()" title="Create Timer">
            <div class="zone-label">Create</div>
        </div>
        <div class="interaction-zone right-zone" (click)="navigateToLibrary()" title="Timer Library">
            <div class="zone-label">Library</div>
        </div>
    </div>
    
    <div class="title-text">
        <p>Click the infinity symbol to navigate</p>
    </div>
</div>